<div class="container px-5 mt-3">
    <div class="row">
      <%= render "/sidebar", user: @show_book.user, book: @book%>
      <div class="col-md-8 offset-md-1">
        <h1>Book detail</h1>
        <table class="table">
          <tr>
            <td>
              <div>
                <%= attachment_image_tag @show_book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
              </div>
              <%= link_to @show_book.user.name, user_path(@show_book.user.id)  %>
            </td>
            <td><%= link_to @show_book.title, book_path(@show_book.id) %></td>
            <td><%= @show_book.body %></td>
            <% if current_user == @show_book.user %>
              <td><%= link_to "Edit", edit_book_path(@show_book.id), class: "btn btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@show_book.id), method: :delete, class: "btn btn-danger" %></td>
            <% end %>
          </tr>
        </table>






      </div>
    </div>
</div>
