<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>ヘッダーヘッダーヘッダー
      <% if user_signed_in? %>
      <%= link_to "home", user_path(current_user.id) %> <%= link_to "users", users_path %> <%= link_to "books", books_path %> <%= link_to "log out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "users", users_path %> <%= link_to "books", books_path %>
      <% end %>
      </h1>
    </header>
    <%= yield %>
    <footer>
      <h1>フッターフッターフッターフッターフッターフッター</h1>
    </footer>
  </body>
</html>
